<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Benjamin McKinley</title>
        <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
        <link rel="icon" href="/assets/img/<bm>.svg">
    </head>
    
    <body>
        <header>
            <h1 id="site_name"><a href="index.html">BM</a></h1>
            <a id="cv_button"></a>
            
            
            <div id="social">
        
            </div>
            
            <ul id="nav">
                <li>Home |</li>
                <li>Blog |</li>
                <li>Projects |</li>
                <li>CV</li>
            </ul>
        </header>