<div class="social-bar" class="horizontal-container">
  <a href="https://github.com/bkinny4148"><img class="icon" src="{{ '/assets/icons/logo-github.svg' | relative_url }}"></a>
  <a href="https://www.linkedin.com/in/benjaminmckinley/"><img class="icon" src="{{ '/assets/icons/logo-linkedin.svg' | relative_url }}"></a>
  <a href="https://twitter.com/bennymckinny"><img class="icon" src="{{ '/assets/icons/logo-twitter.svg' | relative_url }}"></a>
  <a href="#"><img class="icon" src="{{ '/assets/icons/logo-google.svg' | relative_url }}"></a>
</div>
